
{% assign byo_bundle_count = 0 %}
{% assign byo_bundle_no_properties_count = 0 %}

{%- assign byoBundleCollection = collections["build-your-routine"] -%}
{%- capture byoBundleCollectionHandles -%}{%- for item in byoBundleCollection.products -%}{{ item.handle }},{%- endfor -%}{%- endcapture -%}



{% for item in cart.items %}
    {%- assign found_bundle_value = false -%}

    {% for property in item.properties %}
      {% if property.first == "BYO Bundle" %}
        {% assign byo_bundle_count = byo_bundle_count | plus: 1 %}
        {%- assign found_bundle_value = true -%}
      {% endif %}
    {% endfor %}

    {%- if found_bundle_value == false and byoBundleCollectionHandles contains item.product.handle -%}
      {% assign byo_bundle_no_properties_count = byo_bundle_no_properties_count | plus: 1 %}
    {%- endif -%}

{% endfor %}


  {%- if collection.handle == "build-your-routine" -%}
    
    {% comment %} {%- if byo_bundle_count == 3 -%}
    <button  data-action="close" class="cart-message-BYO page">So close! One more unique product <br>and you’ll score 10% off.<span class="link link--tierary">Select Now</span></button>
    {%- elsif byo_bundle_count == 2 -%}
    <button  data-action="close" class="cart-message-BYO page">Add two more unique products. <br>Then we’ll knock 10% off.<span class="link link--tierary">Select Now</span></button>
    {%- elsif byo_bundle_count == 1 -%}
    <button  data-action="close" class="cart-message-BYO page">Add three more unique products. <br>Then we’ll knock 10% off.<span class="link link--tierary">Select Now</span></button>
    {% endif %} {% endcomment %}

  {%- else -%}

    {% comment %} {%- if byo_bundle_count == 3 -%}
      <a href="/pages/build-your-routine" class="cart-message-BYO">So close! One more product <br>and you'll score 10% off.<span class="link link--tierary">Head Here</span></a>
    {%- elsif byo_bundle_count == 2 -%}
      <a href="/pages/build-your-routine" class="cart-message-BYO">Add two more products. <br>Then we'll knock off 10%.<span class="link link--tierary">Head Here</span></a>
    {%- elsif byo_bundle_count == 1 -%}
      <a href="/pages/build-your-routine" class="cart-message-BYO">Select 3 more or more unique products. <br>Then we’ll knock off 10%.<span class="link link--tierary">Head Here</span></a>
    {% endif %} {% endcomment %}

    {%- if byo_bundle_no_properties_count >= 3 -%}
      <a href="/pages/build-your-routine" class="cart-message-BYO">Build your skincare bundle,<br> we’ll take off 10%.<span class="link link--tierary">Head Here</span></a>
    {%- endif -%}

  {%- endif -%}