{% comment %} https://developers.klaviyo.com/en/docs/how_to_set_up_custom_back_in_stock {% endcomment %}

<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script> 
<script>
var klaviyo = klaviyo || [];
klaviyo.init({
  account: "KZvmWH",
  platform: "shopify"
});

function openBackInStock(productId, variantId, productTitle) {
  window.themeVariables.backInStock.productId = productId;
  window.themeVariables.backInStock.variantId = variantId;

  document.getElementById('back-in-stock-modal-title').innerText = productTitle;
  document.getElementById('back-in-stock-modal').setAttribute('open', true);
}

document.addEventListener("DOMContentLoaded", function () {
  $("#back-in-stock-form").on('submit', function (event) {
    event.preventDefault();
    let hasError = false;
    $("#back-in-stock-error").addClass("hide");
    $("#back-in-stock-submit").attr('aria-busy', true);

    var email = $('#back-in-stock-email').val();
    var variantId = window.themeVariables.backInStock.variantId;
    
    // Create the payload for the new API format
    const payload = {
      "data": {
        "type": "back-in-stock-subscription",
        "attributes": {
          "profile": {
            "data": {
              "type": "profile",
              "attributes": {
                "email": email,
              }
            }
          },
          "channels": ["EMAIL"],
        },
        "relationships": {
          "variant": {
            "data": {
              "type": "catalog-variant",
              "id": `$shopify:::$default:::${variantId}`
            }
          }
        }
      }
    };

    var requestOptions = {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
        "revision": "2024-06-15",
      },
      body: JSON.stringify(payload),
    };

    fetch("https://a.klaviyo.com/client/back-in-stock-subscriptions/?company_id=KZvmWH", requestOptions)
      .then(result => {
        if (result) {
          // Log the result (JSON payload) from the API
          console.log("Response JSON:", result);

          // Success UI updates
          $("#back-in-stock-form").addClass("hide");
          $("#back-in-stock-form-container").addClass("hide");
          $("#back-in-stock-success").removeClass("hide");

          window._uxa.push(["trackDynamicVariable", {key: "waitlist_submitted", value: "true"}]);
        }
      })
      .catch(error => {
        // Log any error that occurs during the request
        console.error("Error:", error);
        $("#back-in-stock-error").removeClass("hide");
        $("#back-in-stock-submit").attr('aria-busy', false);
        hasError = true;
      });

  });

  $("#back-in-stock-modal .modal__close-button, #back-in-stock-modal .modal__overlay").on('click', function (event) {
    $("#back-in-stock-form").removeClass("hide");
    $("#back-in-stock-form-container").removeClass("hide");
    $("#back-in-stock-success").addClass("hide");
    $("#back-in-stock-error").addClass("hide");
  });
});


</script>



<modal-content section="back-in-stock" id="back-in-stock-modal" class="modal modal-custom">
  <div class="modal__overlay"></div>

  <div class="modal__content">
    <button type="button" class="modal__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>

    <div class="modal__content-inner">
      <div id="back-in-stock-form-container">
        <div class="heading h1">Gah!</div>
        <div class="heading h3 heading--small heading--secondary"><span id="back-in-stock-modal-title"></span> has completely sold out!</div>
        <div class="text">
          <p>You cheeky ratbags bloody cleaned us out.</p>
          <p>Anyway, we'll drop you an email the nanosecond we have more in stock.</p>
          <p>Pop your address in this box:</p>
        </div>


        {% comment %} accept-charset="UTF-8" action="https://a.klaviyo.com/onsite/components/back-in-stock/subscribe" {% endcomment %}
        <form id="back-in-stock-form" class="form back-in-stock">      
            
            <div id="back-in-stock-error" class="hide">
              <div class="form__banner banner banner--error">
                <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
      
                <div class="banner__content">
                  Sorry something isn't correct - please try again
                </div>
              </div>
            </div> 
  
            <div class="input">
              <input id="back-in-stock-email" type="email" class="input__field {% if customer.email != blank %}is-filled{% endif %}" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" required {% if customer %}value="{{ customer.email }}"{% endif %}>
              <label for="back-in-stock-email" class="input__label">Enter your email to be notified</label>
            </div>
  
            <button id="back-in-stock-submit" type="submit" class="form__submit button button--ternary button--full">ALERT ME</button>
          </form>

      </div>    

      <div id="back-in-stock-success" class="hide">
        <div class="heading h3 heading--secondary">Got It!</div>
        <div class="heading h3">We'll let you know when it's back in stock.</div>      
      </div>    

    </div>
  </div>
</modal-content>






