<div id="shopify-section-template--16440057626758__custom_slideshow_nJPmht" class="shopify-section shopify-section--custom-slideshow"><div class="custom-section">
  <div id="shopify-block-Aa3JuTjUyYWl1SXFje__slide_6KXirr" class="shopify-block">

<style>#shopify-block-Aa3JuTjUyYWl1SXFje__slide_6KXirr{--background-mobile:rgba(0,0,0,0);--background-desktop:rgba(0,0,0,0);--background-text-mobile:rgba(0,0,0,0);--background-text-desktop:rgba(0,0,0,0);--gridGapVerticalMobile:1.4vw;--gridGapVerticalDesktop:0.5vw;--paddingVerticalMobile:0vw;--paddingHorizontalMobile:5.8vw;--paddingVerticalDesktop:0vw;--paddingHorizontalDesktop:0vw;--position-desktop:middle_center;--position-mobile:top;--item-alignment-mobile:end;--item-alignment-desktop:center;--max-width-mobile:100%;--max-width-desktop:30%;--video-aspect-ratio-mobile:100.0%;--video-aspect-ratio-desktop:100.0%;}</style>


    

<div class="custom-slideshow--slide">
  
    <div class="slide-group  absolute-top--mobile absolute-middle_center--desktop">
    <div id="shopify-block-AeU1YMGtYQVhGQlVNM__text_Ybrqkr" class="shopify-block">

<style>#block-AeU1YMGtYQVhGQlVNM__text_Ybrqkr,#block-AeU1YMGtYQVhGQlVNM__text_Ybrqkr-read-more{--margin-top-desktop:0px;--margin-bottom-desktop:0px;--margin-top-mobile:0px;--margin-bottom-mobile:0px;--font-color-mobile:#1c1c1c;--font-color-desktop:#1c1c1c;--font-alignment-desktop:center;--font-alignment-mobile:center;--font-weight-mobile:400;--font-weight-desktop:600;--font-style-desktop:normal;--font-size-desktop:2.2vw;--font-line-height-desktop:1;--font-letter-spacing-desktop:1;--font-style-mobile:normal;--font-size-mobile:6.8vw;--font-line-height-mobile:1;--font-letter-spacing-mobile:1;--font-family-desktop:"ModernoFB";--font-family-mobile:"ModernoFB";}</style><p class="blocks--text blocks--text-custom  hide-mobile" id="block-AeU1YMGtYQVhGQlVNM__text_Ybrqkr" data-uw-rm-sr=""><i>Free</i> Lip Hero when you spend $85. Today only. GO!
</p>
  </div>

    </div>


    <a href="https://gotoskincare.com/products/lip-hero" aria-label="Move to top" data-uw-rm-empty-ctrl="">
<img src="//gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=5312" alt="" srcset="//gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=600 600w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=700 700w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=800 800w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=1000 1000w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=1200 1200w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=1400 1400w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=1600 1600w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=1800 1800w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=2000 2000w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=2200 2200w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=2400 2400w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=2600 2600w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=2800 2800w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_D_BLANK.jpg?v=1742949234&amp;width=3000 3000w" width="5312" height="820" loading="lazy" sizes="(max-width: 999px) 100vw, 100vw" class="hide-mobile" data-uw-rm-alt-original="" data-uw-rm-alt="QU">
<img src="//gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=2250" alt="" srcset="//gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=600 600w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=700 700w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=800 800w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=1000 1000w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=1200 1200w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=1400 1400w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=1600 1600w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=1800 1800w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=2000 2000w, //gotoskincare.com/cdn/shop/files/GT_Birthday_Mini_Banner_M_1.jpg?v=1743029288&amp;width=2200 2200w" width="2250" height="1100" loading="lazy" sizes="100vw" class="hide-desktop" data-uw-rm-alt-original="" data-uw-rm-alt="QU">
</a>

</div>
</div>

</div>



</div>