{%- assign glitterTemplateSettings = settings.show_glitter_on_template | split: "," -%}
{%- assign confettiTemplateSettings = settings.show_confetti_on_template | split: "," -%}

{%- capture templateName -%}{{ template.name }}.{{ template.suffix }}{%- endcapture -%}

{%- for glitterTemplate in glitterTemplateSettings -%}
  {%- if templateName == glitterTemplate -%}
    {%- assign showGlitter = true -%}
  {%- endif -%}
{%- endfor -%}

{%- for confettiTemplate in confettiTemplateSettings -%}
  {%- if templateName == confettiTemplate -%}
    {%- assign showConfetti = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if settings.show_glitter and showGlitter == true -%}
  <div id="starshine"><div class="template shine"></div></div>
{%- endif -%}


{%- if settings.show_confetti and showConfetti == true -%}
    <canvas id="canvas" class="canvas-confetti" style="position: absolute; z-index: 9; display: block; pointer-events: none;"></canvas>
{%- endif -%}
