$gotoPink: #f9c6b9;
$gotoPinkLight: #FCE2DC;
$gotoPinkLighter: #fff7f5;
$gotoBlack: #181818;
$gotoGrey:#DCE0E4;
$gotoGreyLight: #F2F2F2;
$gotoGreyDark: #484848;

$brotoRed: #ef3534;
$brotoBlue: #192a42;
$brotoBlueLight: #0DA9C5;
$brotoPink: #FFBEBE;
$brotoYellow: #F9F9A3;
$brotoMint: #99DBC9;
$brotoBlack: #1c1b1b;
$brotoGrey: #f0f0f5;
$brotoGreyLight: #F9F9F9;

$grotoBlue: #00bce7;
$grotoNavy: #002DAC;
$grotoYellow: #f9cf63;
$grotoPurple: #b493c4;
$grotoPink: #f06098;
$grotoRed: #ff0001;
$grotoGreen: #59C160;
$grotoOrange: #F48120;
$grotoGrey: #DCE0E4;
$grotoGreyLight: #F2F2F2;
$grotoGreyDark: #484848;
$grotoGreyDarker: #282828;
$grotoBlack: #181818;
$grotoError: #B20000;
$grotoFocus: #275DC5;

$colorWhite: #fff;

$gotoFontHeading: 'ModernoFB';
$gotoFontBody: 'TTCommons';
$brotoFontHeading: 'ModernoFB';
$brotoFontBody: 'NeologyGrotesque';
$grotoFontHeading: 'ProximaNova';
$grotoFontBody: 'SofiaProSoft';

// Animations
$animationLogoGoToTime: 2s;

$animationLogoGoToMoveFirst: -15%;
$animationLogoGoToMoveSecond: 5%;

$animationLogoGoToScaleStart: 1.05;
$animationLogoGoToScaleMid: 0.95;
$animationLogoGoToScaleEnd: 1;

$animationLogoGoToOpacity: 1;


$animationLogoBroToTime: 1.5s;
$animationLogoBroToJump: -18%;



