/* Error: Undefined mixin.
 *    ,
 * 10 | /     @include media-query($medium-up) {
 * 11 | |       font-family: var(--font-family-desktop);
 * 12 | |       text-align: var(--font-alignment-desktop);
 * 13 | |       margin-top: var(--margin-top-desktop) !important;
 * 14 | |       margin-bottom: var(--margin-bottom-desktop) !important;
 * 15 | |       color: var(--font-color-desktop);
 * 16 | |       font-weight: var(--font-weight-desktop)  !important;
 * 17 | \     }
 *    '
 *   src/scss/blocks/text.scss 10:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c      @include media-query($medium-up) {\a 11 \2502  \2502        font-family: var(--font-family-desktop);\a 12 \2502  \2502        text-align: var(--font-alignment-desktop);\a 13 \2502  \2502        margin-top: var(--margin-top-desktop) !important;\a 14 \2502  \2502        margin-bottom: var(--margin-bottom-desktop) !important;\a 15 \2502  \2502        color: var(--font-color-desktop);\a 16 \2502  \2502        font-weight: var(--font-weight-desktop)  !important;\a 17 \2502  \2514      }\a    \2575 \a   src/scss/blocks/text.scss 10:5  root stylesheet";
}
