@import "../components/media-queries";

.blocks--button {
    display: flex;
    align-items: center;
    justify-content: var(--flex-justify-content-mobile);
    margin-top: var(--margin-top-mobile);
    margin-bottom: var(--margin-bottom-mobile);
    width: var(--button-width-mobile);
   color: var(--button-color-text-mobile) !important;

    @include media-query($medium-up) {
      align-items: center;
      justify-content: var(--flex-justify-content-mobile);
      margin-top: var(--margin-top-desktop);
      margin-bottom: var(--margin-bottom-desktop);
      width: var(--button-width-desktop);
      color: var(--button-color-text-desktop) !important;
    }

    svg path {
       fill: var(--button-color-text-mobile) !important;
       @include media-query($medium-up) {
         fill: var(--button-color-text-desktop) !important;
       }
    }


    &.button--outline {
      color: var(--button-color-text-mobile) !important;
      border-color: var(--button-color-text-mobile) !important;
      @include media-query($medium-up) {
          color: var(--button-color-text-desktop) !important;
          border-color: var(--button-color-text-desktop) !important;
        }
      }


  }