
{%- assign showSection = true -%}

{%- if blog -%}
  {%- if canonical_url contains "?page=" or canonical_url contains "/tagged/" -%}
    {%- assign showSection = false -%}
  {%- endif -%}

  {%- if canonical_url contains "?page=1" -%}
    {%- assign showSection = true -%}
  {%- endif -%}
{%- endif -%}

{%- if showSection -%}
<div class="custom-section {% if section.settings.hide_desktop %}hide-desktop{% endif %} {% if section.settings.hide_mobile %}hide-mobile{% endif %}">
  {% content_for 'blocks' %}
</div>
{% endif %}

{% schema %}
{
  "name": "Custom Slideshow",
  "class": "shopify-section--custom-slideshow",
  "blocks": [
    { "type": "@theme" }, 
    { "type": "@app" }
  ],
  "settings": [
      {
        "type": "checkbox",
        "id": "hide_mobile",
        "label": "Hide Mobile?"
      },
      {
        "type": "checkbox",
        "id": "hide_desktop",
        "label": "Hide Desktop?"
      }
  ],
  "presets": [
    {
      "name": "Custom Slideshow"
    }
  ]
}
{% endschema %}

