<div class="custom-section">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Custom Slideshow",
  "class": "shopify-section--custom-slideshow",
  "blocks": [
    { "type": "@theme" }, 
    { "type": "@app" }
  ],
  "settings": [

  ],
  "presets": [
    {
      "name": "Custom Slideshow"
    }
  ]
}
{% endschema %}

