{% if request.design_mode %}


{% endif %}

<div class="container">
    <div class="style-guide">

        <div class="style-guide-section">
            <h2>Buttons</h2>
            <h3>Go-To</h3>
            <div class="buttons">
                <button class="button button--primary">Button Primary</button>
                <button class="button button--secondary">Button Secondary</button>
                <button class="button button--ternary">Button Ternary</button>
                <button class="button button--outline">Button Outline</button>
                <button class="button button--small">Button Small</button>
                <button class="link link--primary">Link Primary</button>
                <button class="link">Link</button>
            </div>
        </div>

        <div class="style-guide-section">
            <h2>Colours</h2>
            <h3>Go-To</h3>
            <div class="colours">

                <div class="colour-item">
                    <div class="colour-item--swatch color-primary--go-to"></div>
                    <p><strong>Primary</strong></p>
                    <p>#FAC6B8</p>
                </div>

                <div class="colour-item">
                    <div class="colour-item--swatch color-secondary--go-to"></div>
                    <p><strong>Secondary</strong></p>
                    <p>#FDE4DB</p>
                </div>

                <div class="colour-item">
                    <div class="colour-item--swatch color-ternary--go-to"></div>
                    <p><strong>Ternary</strong></p>
                    <p>#f9c6b9</p>
                </div>
 
             
            </div>
            <div class="colours"> 
                <div class="colour-item">
                    <div class="colour-item--swatch color-black--go-to"></div>
                    <p><strong>Black</strong></p>
                    <p>#181818</p>
                </div>

                <div class="colour-item">
                    <div class="colour-item--swatch color-dark-grey--go-to"></div>
                    <p><strong>Dark Grey</strong></p>
                    <p>#484848</p>
                </div>

                <div class="colour-item">
                    <div class="colour-item--swatch color-grey--go-to"></div>
                    <p><strong>Grey</strong></p>
                    <p>#DCE0E4</p>
                </div>

                <div class="colour-item">
                    <div class="colour-item--swatch color-light-grey--go-to"></div>
                    <p><strong>Light Grey</strong></p>
                    <p>#F2F2F2</p>
                </div>
            </div>
        </div>

        <div class="style-guide-section">
            <h2>Typography</h2>
            <h3>Go-To</h3>


            <br>
            <br>
            <hr>
            <h4>Moderno FB (Primary)</h4>
            <hr>
            <br>
            <br>
            <div class="typography">

            <div class="typography-item">
                <h1 class="heading h1">Heading 1</h1>
                <p class="description">Destkop: font-size: 64px; line-height: 56px;</p>
                <p class="description">Tablet: font-size: 56px; line-height: 56px;</p>
                <p class="description">Mobile: font-size: 48px; line-height: 56px;</p>
            </div>
      
            <div class="typography-item">
            <h2 class="heading h2">Heading 2</h2>
            <p class="description">font-size: 36px; font-weight: 600; line-height: 1.55;</p>
            </div>

            <div class="typography-item">
            <h3 class="heading h3">Heading 3</h3>
            <p class="description">font-size: 28px; font-weight: 600; line-height: 1.7;</p>
            </div>

            <div class="typography-item">
            <h4 class="heading h4">Heading 4</h4>
            <p class="description">font-size: 24px; font-weight: 600; line-height: 1.66;</p>
            </div>

            <div class="typography-item">
            <h5 class="heading h5">Heading 5</h5>
            <p class="description">font-size: 18px; font-weight: 600; line-height: 1.77;</p>
            </div>

            <div class="typography-item">
            <h6 class="heading h6">Heading 6</h6>
            <p class="description">font-size: 14px; font-weight: 600; line-height: 1.77; </p>
            </div>

            <div class="heading heading--small">
            .heading--small
            </div>

            <div class="heading heading--xsmall">
            .heading--xsmall
            </div>

            <div class="heading heading--xxsmall">
            .heading--xxsmall
            </div>

            <div class="heading heading--large">
            .heading--large
            </div>

            <div class="text--small"> 
            .text--small 
            </div>
            <div class="text--xsmall"> 
            .text--xsmall 
            </div>
            <div class="text--xxsmall"> 
            .text--xxsmall 
            </div>
            <div class="text--large"> 
            .text--large 
            </div>
            <div class="text--subdued"> 
            .text--subdued 
            </div>
            <div class="text--underlined"> 
            .text--underlined 
            </div>

            </div>
            <br><br>
            <hr>
            <h4>TT Commons (Secondary)</h4>
            <hr>
            <div class="typography">
             
                <h1 class="heading h1 heading--secondary">Heading 1</h1>
                <h2 class="heading h2 heading--secondary">Heading 2</h2>
                <h3 class="heading h3 heading--secondary">Heading 3</h3>
                <h4 class="heading h4 heading--secondary">Heading 4</h4>
                <h5 class="heading h5 heading--secondary">Heading 5</h5>
                <h6 class="heading h6 heading--secondary">Heading 6</h6>

                <div class="heading heading--small">
                .heading--small
                </div>

                <div class="heading heading--xsmall">
                .heading--xsmall
                </div>

                <div class="heading heading--xxsmall">
                .heading--xxsmall
                </div>

                <div class="heading heading--large">
                .heading--large
                </div>

                <div class="text--small"> 
                .text--small 
                </div>
                <div class="text--xsmall"> 
                .text--xsmall 
                </div>
                <div class="text--xxsmall"> 
                .text--xxsmall 
                </div>
                <div class="text--large"> 
                .text--large 
                </div>
                <div class="text--subdued"> 
                .text--subdued 
                </div>
                <div class="text--underlined"> 
                .text--underlined 
                </div>

        

                {% comment %} <ul class="ordered-list">
                    <li>List Example</li>
                    <li>List Example</li>
                    <li>List Example</li>
                </ul>

                <ul class="unordered-list">
                    <li>List Example</li>
                    <li>List Example</li>
                    <li>List Example</li>
                </ul> {% endcomment %}
            </div>

      

        </div>

        <div class="style-guide-section">
            <h2>HTML Elements</h2>
            <h3>Go-To</h3>
            <div class="html-elements">
                <div class="blockquote">
                    .blockquote
                </div>

                <table class="table">
                    <tr>
                        <th>Table</th>
                        <th>Example</th>
                    </tr>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
</div>

