@import "components/media-queries";
@import "components/variables";


.bro-to {
  .shopify-section--mini-cart { 
    .line-item__loader {
      color: #fff !important;
    }
  }
}

.shopify-section--mini-cart { 
  .cart-empty {
    .button-wrapper {
      padding-bottom: 10px;
    }
  }

.line-item__content-wrapper {
  display: flex;
  justify-content: space-between;

  .line-item__content-wrapper--left {
    display: flex;
  }

}

.line-item {
    margin-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 12px;

    .line-item__content-wrapper {
      margin-top: 12px;
    }
  
    .product-item-meta__title {
      line-height: 1;
      font-size: 14px;
    }

    .line-item__remove-button {
      font-size: 11px;
      margin-left: 20px;
    }

    .product-item-meta__subtitle {
      font-size: 14px;
    }
  
    .price  {
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      color: var(--color-grey-dark);
    }
    
    .line-item__price-list-container.text--small {
      line-height: 1;
    }
  
    .property--byo-bundle {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    
    
      .key {
        font-weight: bold;
        color: $gotoBlack;
        background: $gotoPink;
        padding: 2px 6px;
        border-radius: 10px;
        margin-bottom: 5px;
        display: inline-block;
        font-size: 11px;
      }
    
      .value {
        font-size: 10px;
        display: block;
        font-style: italic;
      }
    }

    &.line-item--type__gift, &.line-item--type__gwp  {
      .line-item__remove-button {
        margin: 0;
      }
    }
  }
  
  .discount--build-your-routine {
    display: none;
  }
  
  .line-item__discount-badge.discount-badge {
    background: $gotoPink;
    color: $gotoBlack;
    padding: 4px;
    border-radius: 8px;
  }
  
  .shipping-bar {
    padding: 16px 28px 16px 20px;
    // background: $gotoPinkLight;
    color: $gotoBlack;
    margin-top: 0;
    text-align: left;

    @include media-query($small) {
      padding: 16px 36px 16px 8px;
    }

    .shipping-bar__text{
      text-align: left;
      font-style: italic;
    }
  }

  .checkout-button--no-thanks {
    text-align: center;
    margin: 15px auto -20px;
    display: block;

    @include media-query($small) {
      margin: 15px auto -10px;
    }
  }

  .checkout-button {
    &.block-checkout {
      cursor: no-drop;
      display: flex;
      flex-direction: column;
      background: $gotoGreyLight;
      padding: 12px 2px;
      line-height: 1.2;

      small {
        line-height: 1;
      }

      &:hover {
        transform: none !important;
        box-shadow: 4px 4px 0 var(--color-button-ternary-shadow) !important;
      }
    }
  }

  #mini-cart-form {
    padding: 20px;
  }

  cart-drawer {
    .drawer__content {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }


    .mini-cart__recommendations {
      // position: absolute;
      // bottom: 0;
      width: 100%;
    }

    .mini-cart__recommendations-inner {
        margin: 0;
        overflow-x: hidden;

        @include media-query($small) {
          padding-top: 8px;
          padding-bottom: 8px;
        }
    }

    .mini-cart__recommendations-heading {
      @include media-query($small) {
        margin-bottom: 8px;
      }
    }

    .mini-cart__recommendations-list {
      grid-auto-columns: auto;
      gap: 20px;

      .product-item {
        position: relative;
        max-width: 250px;
        width: 250px;
        border: 1px solid var(--color-grey);
        padding: 16px 8px 16px;
        border-radius: var(--image-border-radius);

        @include media-query($small) {
          padding: 8px 8px 16px;
        }

        .product-item__link {
          margin: 0;
          font-size: 12px;
        }

        .product-item-meta__title {
          max-width: 140px;
          overflow: visible;
          display: block;
          white-space: normal;
        }

        .product-item-meta__subtitle {
          font-size: 12px !important;
        }

        .product-item__label-list {
          display: none;
        }

        .price-list {
          position: absolute;
          right: 10px;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          height: 32px !important;

          .price {
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }
  }



  .mini-cart-gift {
    box-shadow: 2px 2px 2px #9b9b9b49;
    border: 1px solid var(--color-grey-dark);
    padding: 10px 0 0;
    margin: 20px;
    border-radius: var(--image-border-radius);
    background: var(--color-primary);

    .mini-cart-gift--title {
      text-align: center;
      padding-bottom: 10px;
      font-size: 16px;
      @include media-query($medium-up) {
        font-size: 18px;
      }
    }
  }

  .product-item--gift {
    background: var(--color-secondary);
    border-radius: var(--image-border-radius);
    border-top: 1px solid var(--color-grey-dark);
    padding: 10px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    .product-item--gift-inner {
      display: flex;
      // max-width: 300px;
      gap: 20px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .product-item__image-wrapper  {
      width: 100px;
      height: 100px;
      margin: 0;

      img {
        border-radius: var(--image-border-radius);
      }
    }

    .button {
      padding-left: 10px;
      padding-right: 10px;
      min-width: 120px;
      @include media-query($medium-up) {
        min-width: 250px;
      }
    }

    .description {
      display: block;
      margin-bottom: 8px;
      line-height: 1;
      padding-bottom: 3px;
      font-weight: normal;
      font-size: 13px;

      @include media-query($medium-up) {
        padding-bottom: 10px;
        font-size: 16px;
      }

      p {
        line-height: 1;
      }
    }
  }
}

.cart-notification__wrapper {
  color: var(--color-black);
    .cart-notification__heading {
      color: var(--color-black);
    }
}

.line-item[data-properties*="Promo:"] {
  .line-item__quantity {
    display: none;
  }

  .property--promo {
    color: #000;
    background:$gotoPink;
    padding: 10px;
    border-radius: 8px;
    line-height: 1.1;
    font-size: 12px;

    p {
      line-height: 1.1;
    }

    .key {
      display: none;
    }
  }
}

.custom-cart-message {
  padding: 0 20px 0 10px;
  max-height: unset;

  @include media-query($medium-up) {
    padding: 0px 45px 0 20px;
    max-height: 55px;
  }



  .custom-cart-message--inner {
    width: 100%;
    p {
      line-height: 1.1;
      padding-right: 20px;
    }
  }
}

.mini-cart--gifts-error {
  margin: 10px 20px 0;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  background: var(--color-primary);
  border-radius: 8px;
  line-height: 1.1;
}

.shipping-bar--gifts {
  p {
    line-height: 1.1;
  }
}

.shipping-bar-custom {
  margin: 0;
  background: var(--shipping-bar-background);

  .shipping-bar__text {
    line-height: 1;
  }
}



.mini-cart.go-to {
  .go-to.checkout-button {
    display: block;
  }

  .bro-to.checkout-button, .gro-to {
    display: none;
  }
}

.mini-cart.bro-to {
  .bro-to.checkout-button {
    display: block;
  }

  .gro-to.checkout-button, .go-to {
    display: none;
  }
}

.mini-cart.gro-to {
  .gro-to.checkout-button {
    display: block;
  }

  .bro-to.checkout-button, .go-to {
    display: none;
  }
}