@import "components/media-queries";
@import "components/variables";


.product-item__grid-image {
    img {
        border-radius: var(--image-border-radius);
    }
}

.product-facet {
    margin-bottom: 0;
    padding-bottom: 80px;
}

.color-swatch__item {
    border: 2px solid #fff !important;
}

.color-swatch__item:before {
    border: 0px solid #fff !important;
}


.color-swatch__item:after {
    border: 1px solid #000 !important;
}