@import "components/media-queries";
@import "components/variables";

.hide, .hidden {
    display: none !important;
}

.hide-desktop {
  display: block !important;
  @include media-query($medium-up) {
    display: none !important;
  }
}

.hide-mobile {
  display: none !important;
  @include media-query($medium-up) {
    display: block !important;
  }
}

.text--bold, .text--bold * {
  font-weight: bold !important;
}

.header__logo-image {
  width: 100%;
}

.header__linklist {
  .header__linklist-item {
    text-transform: uppercase;
  }
}


.shopify-section--brand-switcher {

  .container {
    @include media-query($small) {
      padding: 0;
    }
  }

  .brand-switcher--brands {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include media-query($medium-up) {
      display: flex;
    }
  }

  .brand-switcher--brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;

    @include media-query($medium-up) {
      width: auto;
    }

    svg {
      width: 60px;
      height: 25px;
      fill: $gotoGrey;

      * {
        fill: $gotoGrey !important;
      }
    }

    &.go-to {
      &:after {
        content: "";
        height: 25px;
        right: 0;
        border-left: 1px solid #e5e5e5;
        position: absolute;
      }
    }

    &.go-to.active {
      background: $gotoPink;

      svg,
      svg>* {
        fill: $colorWhite !important;
      }

      @include media-query($medium-up) {
        display: flex !important;
      }

      &:after {
        display: none;
      }
    }

    &.bro-to {
      &:after {
        content: "";
        height: 25px;
        right: 0;
        border-left: 1px solid #e5e5e5;
        position: absolute;
      }
    }

    &.bro-to.active {
      background: $brotoBlue;

      svg,
      svg>* {
        fill: $colorWhite !important;
      }

      &:after {
        display: none;
      }
    }

    &.gro-to.active {
      background: $grotoBlue;

      svg,
      svg>* {
        fill: $colorWhite !important;
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.scrolling-text {
  position: relative;

  .scrolling-text--marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 60px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scrolling-text--track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 62s linear infinite;
    display: flex;

    .text {
      margin-right: 5px;
      font-size: 24px;

      @include media-query($medium-up) {
        font-size: 24px;
      }
    }

    a,
    p {
      font-size: 24px;
      letter-spacing: 0.1rem;

      @include media-query($medium-up) {
        font-size: 24px;
      }
    }
  }
}

.scrolling-text.scrolling-image {
  .scrolling-text--marquee {
    min-height: 200px;
  }

  img {
    min-width: 190px;
  }
}

.logo-list__item {
  flex-direction: column;
  justify-content: flex-start !important;
}

.logo-list__text {
  margin-top: 40px;
  text-align: center;
}


.blog-posts--overlay-text {
  .article-item {
    position: relative;
  }

  .article-item__content {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: calc(100% - 40px);
    margin: 40px 20px;
    background: $colorWhite;
    text-align: center;
    padding: 20px;
    // border-radius: 8px;
  }

  .article-item__category {
    text-align: center;
    display: block;
    width: 100%;
  }

  .article-item__image-container {
    aspect-ratio: 1 / 1.2;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

}

.section-product-bar {
  .product-sticky-form {
    bottom: 0;
    top: unset;
    opacity: 1;
    transform: none !important;
    visibility: visible;
  }
}

.list-collections__item.text-below-image {
  .heading {
    margin-top: 20px;
  }

  .list-collections__item-info {
    position: relative;
    top: unset;
    bottom: unset;
    transform: unset;
    left: unset;
  
  }
}

.uwy {
  display: none !important;
  &.show {
    display: block !important;
  }
}

store-header.background-blur {
  @include media-query($medium-up) {
  background: rgba(255,255,255,0.8) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  }
}


.announcement-bar__message {
  @include media-query($medium-up) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    p {
      gap: 5px;
      line-height: 1.2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.compact-mobile-header {
  @include media-query($small) {

    .header__logo-image {
      transition: 300ms opacity;
    }

    store-header {
      margin-top: calc(var(--announcement-bar-height) * -1);
      background: rgba(249,198,185,0.8) !important;
      backdrop-filter: saturate(180%) blur(20px) !important;
    }

    .header__icon-wrapper {
      color: #fff;
    }

    .shopify-section--announcement-bar {
      z-index: 7;
      max-width: calc(100vw - 180px);
      margin: 0 auto;

      .announcement-bar {
        padding: 0;
        background: transparent;
      }

       .announcement-bar__list  {
        padding: 0;
        width: 100%;
      }

      .announcement-bar__item:not([hidden]) {
        height: var(--header-height);
      }

      .announcement-bar__message {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--header-height);

        p {
          line-height: 1.2;
        }
      }
    }

    &.header-position--top {
      .header__logo-image {
        opacity: 0;
      }

      store-header {
        background: $gotoPink !important;
        backdrop-filter: none !important;
      }
    }
  }
}



.list-collections__item-list {
  @include media-query($small) {
    grid-template-columns: 1fr 1fr;
  }
}