    #points-logs-activity tbody tr {
      display: none;
    }

    #points-logs-activity tbody tr:first-of-type {
      display: table-row !important;
    }


.market-EU,.market-US,.market-GB {
    a.rivo-aw-button-points.button.button--primary[href="/pages/go-to-gang"] {
    display: none !important;
    }

    a.rivo-profile-list-item:has(.rivo-profile-list-item-title:contains("My Rewards")) {
    display: none !important;
    }
}   
