@import "components/media-queries";
@import "components/variables";


[class*="shopify-section--main-customers"] {
  .link-bar {
    background: $gotoPinkLight;
  }

  .mobile-toolbar__item {
    background: $gotoPinkLight;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.customer-header {
  text-align: left;
  margin: 40px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .heading {
      margin-bottom: 0;

      @include media-query($small) {
        font-size: 30px;
      }
    }

    p {
      @include media-query($small) {
        margin: 0;
      }
    }
  }
}

.loyalty-account {
  padding: 70px 0 50px;

  .yotpo-tile {
    border-radius: 8px;
    cursor: pointer;
  }

  .yotpo-description-text {
    font-size: 17px !important;
  }

}


.loyalty-tiers {
  display: grid;
  grid-template-columns: repeat(4,1fr);

  .loyalty-tier {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0;

    @include media-query($medium-up) {
      padding: 16px;
    }




    .requirements {
      font-weight: 500;
      text-align: center;
      font-size: 14px;
    }
  } 


  &.tier-5 {
    grid-template-columns: repeat(5,1fr);

    .level {
      @include media-query($small) {
        font-size: 15px;
      }
    }

    .name {
      @include media-query($small) {
        line-height: 1;
        font-size: 13px;
        text-align: center;
        line-height: 1;
      }
    }

    .requirements {
      @include media-query($small) {
        line-height: 1;
        font-size: 11px;
        text-align: center;
        line-height: 1;
      }
    }
  }
}

.loyalty-line {
  border-radius: 5px;
  height: 10px;
  background: $gotoPinkLight;
  width: 100%;
  display: block;
  margin: 32px 0;
  position: relative;
}

.loyalty-line--line-active {
  border-radius: 5px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  transform: translate(0, -50%);
}


.loyalty-line--here, .loyalty-line--next {
  border-radius: 5px;
  position: absolute;
  bottom: -5px;
  transform: translate(-50%,0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heading {
    margin: 16px 0;
    min-width: 95px;
    text-align: center;

    @include media-query($small) {
      font-size: 12px;
    }
  }

  .dot {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 20px;
    border: 1px solid $gotoGreyDark;
  }
}

.loyalty-line--next {
  .heading {
    opacity: 0.5;
  }
  svg {
    opacity: 0.5;
  }
}

.loyalty-account.tier-5 {
  .loyalty-line--here .heading {
    @include media-query($small) {
      font-size: 12px;
      text-align: center;
    }
  }
}

.loyalty-benefits--container {
  display: flex;
  gap: 0;
  align-items: center;
  flex-direction: column;

  @include media-query($medium-up) {
    flex-direction: row;
    gap: 32px;
  }

  .loyalty-birthday {
    width: 100%;
    background: $gotoPinkLight;
    border-radius: 8px;

    @include media-query($medium-up) {
      width: 30%;
    }
  }

  .loyalty-benefits {
    border-radius: 8px;
    margin: 32px 0;
    background: $gotoPinkLight;
    padding: 40px 16px 16px;
    width: 100%;
    display: block;
    text-align: center;

    @include media-query($medium-up) {
      width: 70%;
      padding: 40px 16px;
    }
  
    .loyalty-benefits--item {
      font-weight: 500;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 24px;
      text-align: left;
      align-items: flex-start;

      @include media-query($medium-up) {
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        text-align: center;

      }
  
      svg {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

