@import "components/media-queries";
@import "components/variables";

.shopify-section--product-content-description {
  margin-top: 20px;
}

.product-meta {
    text-align: center;
    margin: 0;

    .product-meta__title {
      margin-bottom: 4px;
    }

    .product-meta__reference {
      justify-content: center;
      margin-bottom: 16px;

      .rating__caption {
        text-decoration: underline;
        text-underline-offset: 3px !important;
        text-decoration: underline !important;
        text-decoration-thickness: 2px !important;
      }
     
    }

    .product-meta__price-list-container {
      justify-content: center;
      margin: 0;
  
      .price {
        font-weight: 600;
      }
  }
}

.product-form__payment-container {
  margin: 0 !important;
}



[data-oke-star-rating] {
    text-align: center;
}

.product {
  margin: 0;
}

.product__media {
  padding: 0;
  @include media-query($medium-up) {
  position: sticky;
  top: 90px;
  }


  @include media-query($small) {
    .product__media-nav {
      margin: 0 -16px 32px;
      width: calc(100% + 32px);
    }
  
    .dots-nav {
      width: 100%;
      padding: 0;
      margin: 0;
  
      .dots-nav__item {
        margin: 0;
        border-radius: 0;
        flex: 1;
        background: var(--color-primary);
        border: 1px solid transparent;

        &:before {
          display: none !important;
        }
      }
  
      .dots-nav__item[aria-current=true] {
        background: var(--color-primary);
        box-shadow: 2px 2px 2px #d0d0d045;
        border: 1px solid #cececeb5;
      }
    }
  }

}

.product-form__option-selector {
  .block-swatch-list {
    justify-content: center;
  }
}

.product-form__option-info {
  display: none;
}

  // .product-content-description --- START

  .product-content-description {
    display: block;
    background: var(--color-secondary);
    padding: 16px;
    border-radius: var(--image-border-radius);

    @include media-query($medium-up) {
      padding: 48px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 30px;
    }
    
    .product-content-description--content-inner {
      padding-top: 42px;

      .button-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    .product-content-description--image {
      display: none;
      @include media-query($medium-up) {
        display: block;
      }

      img {
        width: 100%;
        border-radius: var(--image-border-radius);
      }
    }

    .product-reviews--item {
      background: #fff;
      border-radius: var(--image-border-radius);
      padding: 12px;
      margin-bottom: 24px;

      .product-reviews--item-author {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 0;
      }

      .product-reviews--item-title {
        font-weight: 600;
        font-size: 18px;
        margin: 0;
      }

      .product-reviews--item-stars {
        margin-top: 5px;
        line-height: 1;
      }

      .product-reviews--item-review {
        margin: 0;
      }

    }


    .product-content-description--teaser {
        max-height: 320px;
        margin-bottom: 12px;
        overflow: hidden;
        position: relative;
      
        &[aria-revealed=false] {
          display: block;
        }
      
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 10px;
          content: "";
          display: block;
          width: 100%;
          background: rgb(255,255,255);
          background: -webkit-linear-gradient(#ffffff00, var(--color-secondary));
          background: -o-linear-gradient(#ffffff00, var(--color-secondary));
          background: linear-gradient(#ffffff00, var(--color-secondary));
          
        }
      
        &[aria-revealed=true] {
          max-height: none;
          overflow: unset;
      
          &:after {
            display: none;
          }
        }
      }
  }

  // .product-content-description --- END


  // .product-content-video --- START
  .product-content-video {
    .product-content-video--image {
      position: relative;
      cursor: pointer;
      // min-height: 600px;
      // max-height: 680px;

      &:after {
        position: absolute;
        z-index: 2;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35%;
        opacity: 0.5;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);

        @include media-query($medium-up) {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

      .product-content-video--image-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: #fff;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        margin-top: 110px;
        width: 100%;
        text-align: center;
        padding: 0 20px;
        max-height: 680px;

        @include media-query($medium-up) {
          font-size: 48px;
        }
      }

      img {
        width: 100%;
        // max-height: 680px;
        // min-height: 600px;
        object-fit: cover;

        @include media-query($medium-up) {
          border-radius: 10px;
        }
      }
    }

    .product-content-video--video {
      position: relative;
      padding-bottom: 100%;
      height: 0;
      background: var(--primary-button-background);

      @include media-query($medium-up) {
        border-radius: 10px;
        overflow: hidden;
        padding-bottom: 56.25%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  // .product-content-video --- END




  // .product-content-routine --- START
  .product-content-routine {
    padding: 16px;
    border-radius: var(--image-border-radius);
    display: flex;
    transition: 200ms all;
    flex-direction: column;

    @include media-query($medium-up) {
      flex-direction: row;
      padding: 48px;
    }

    .product-content-routine--text {
      width: 100%;

      .SectionHeader__Heading {
        margin-bottom: 16px;
      }

      @include media-query($medium-up) {
        max-width: 440px;
        margin-right: 32px;
      }

      h3, ol, li {
        transition: 200ms opacity;
      }

      li {
        font-size: 18px;

        @include media-query($medium-up) {
          font-size: 24px;
        }

        &::marker {
          font-weight: bold;
        }
      }
    }

    .product-content-routine--image {
      display: block;
      width: 100%;
      margin-top: 32px;
      transition: 200ms opacity;

      @include media-query($medium-up) {
        margin-top: 0;
      }

      img {
        width: 100%;
        border-radius: var(--image-border-radius);
        opacity: 1;
        transition: 200ms opacity;
      }
    }

    .product-content-routine--text__switcher-outer {
      position: relative;

      .product-content-routine--text__switcher-swipe-me {
        position: absolute;
        left: 150px;
        top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include media-query($medium-up) {
          top: -50px;
        }

        p {
          margin-right: -130px;
          margin-top: -50px;
          font-weight: 600;
          font-size: 24px;
        }
      }

      .product-content-routine--text__switcher {
        background: #fff;
        width: 138px;
        height: 72px;
        border-radius: 70px;
        display: block;
        position: relative;
        margin-bottom: 32px;

        .product-content-routine--text__switcher-circle {
          transition: 200ms all;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(0);
          display: block;
          width: 58px;
          height: 58px;
          margin: 8px;
          border-radius: 100%;
          background: var(--color-primary);
          z-index: 3;
          filter: drop-shadow(2px 2px 4px #d1d1d1);
        }

        .product-content-routine--text__switcher-sun {
          z-index: 2;
          margin: 8px;
          position: absolute;
          left: 0;
          top: 0;
          width: 56px;
          height: 56px;
          transform: scale(1);
          transition: 200ms all;
        }

        .product-content-routine--text__switcher-moon {
          z-index: 2;
          margin: 8px;
          position: absolute;
          right: 0;
          top: 0;
          width: 56px;
          height: 56px;
          transform: scale(1);
          transition: 200ms all;
        }
      }
    }

    &.active--morning {
      background: var(--color-secondary);

      .product-content-routine--text__switcher-sun {
        transform: scale(0.6) !important;
      }

      .product-content-routine--text__morning, .product-content-routine--image__morning {
        visibility: visible;

        p {
          font-size: 17px;
          margin: 0 0 10px;
        }
      }

      .product-content-routine--text__evening, .product-content-routine--image__evening {
        visibility: hidden;
        height: 0;
        img {
          opacity: 0;
        }
      }
    }

    &.active--evening {
      background: var(--color-grey-dark);

      .product-content-routine--text__switcher-swipe-me {
        p {
          color: #fff;
        }

        path {
          fill: #fff;
        }
      }

      .product-content-routine--text__switcher-moon {
        transform: scale(0.6) !important;
      }

      .product-content-routine--text__morning, .product-content-routine--image__morning {
        visibility: hidden;
        height: 0;

        img {
          opacity: 0;
        }
      }

      .product-content-routine--text__evening, .product-content-routine--image__evening {
        visibility: visible;
      }

      h3, ol, li, .product-content-routine--text__evening-text {
        color: #fff;
        p {
          font-size: 17px;
          margin: 0 0 10px;
        }

        * {
          color: #fff;
        }
      }

      .product-content-routine--text__switcher-circle {
        transform: translateX(calc(100% + 8px)) !important;
      }
    }
  }
  // .product-content-routine --- END


  // .product-content-ingredients --- START

  .product-content-ingredients {
    display: flex;
    flex-direction: column;

    @include media-query($medium-up) {
      flex-direction: row;
    }



    .product-content-ingredients--image {
      width: 100%;
      margin-bottom: 10px;
      position: relative;
      padding-bottom: 100%;
      height: 0;
      background: var(--color-secondary);
      border-radius: 10px;
      z-index: 2;

      @include media-query($medium-up) {
        margin-bottom: 0;
        padding-bottom: 63%;
        overflow: hidden;
      }

      img {
        border-radius: 10px;
        width: 100%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--image-border-radius);

        @include media-query($medium-up) {
          border-radius: 10px;
        }
      }
    }

    .product-content-ingredients--text {

      @include media-query($medium-up) {
        margin-left: 45px;
        max-width: 400px;
        width: 100%;
      }

      .heading.h3 {
        margin-bottom: 16px;
      }

      .h2.heading {
        margin-bottom: 32px;
      }

      .h4.heading {
        margin-bottom: 16px;
      }

      .product-content-ingredients--text-item {
        margin-bottom: 32px;

        .title {
          margin-bottom: 0;
        }
      }

      .product-content-ingredients--text__mobile {
        position: relative;
      }

      .product-content-ingredients--text-item__mobile {
        padding-left: 48px;
        position: relative;

        &:after {
          content: "";
          display: none;
          background: var(--color-grey-dark);
          width: 8px;
          height: 8px;
          border-radius: var(--image-border-radius);
          top: 12px;
          left: 18px;
          position: absolute;
          // rotate: deg(90);
        }

        &:before {
          content: "";
          display: none;
          position: absolute;
          left: 21px;
          top: -366px;
          width: 2px;
          height: 380px;
          background: var(--color-grey-dark);
        }

        .heading {
          color: var(--color-black);
          opacity: 0.5;
          margin-bottom: 8px;
          margin-top: 24px;
          line-height: 32px;
        }

        .text {
          display: none;
          margin-bottom: 16px;
        }

        &.active {
          .heading {
            opacity: 1;
            margin-bottom: 0;
          }

          .text {
            display: block;
          }

          &:after {
            display: block;
          }

          &:before {
            display: block;
          }
        }
      }
    }

    .popover-buttons {
      margin-top: 36px;
      margin-bottom: 16px;
      margin-left: 0;


      @include media-query($medium-up) {
        margin-top: 16px;
        margin-left: 0;
      }
    }

   
  }

  .section--product-content-ingredients {
  

    .section.bro-to {
      padding: var(--vertical-breather) 0;
      background: $brotoGrey;
    }

    .bro-to {
      flex-direction: column;
      .product-content-ingredients--text {
          margin-left: 0;
          max-width: unset;
      }

      .product-content-ingredients--text-inner {
        display: flex;
        flex-direction: column;
      


        @include media-query($medium-up) {
        flex-direction: row;
        gap: 80px;
        }
      }

      .product-content-ingredients--text-item {
        flex: 1;
      }
    }
  }
  
  // .product-content-ingredients --- END


  .oke-w-textSearchFilter-input:active, .oke-w-textSearchFilter-input:focus {
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 0 4px var(--color-secondary) !important;
    outline: 0 !important;
  }

  .js-oke-widgetSize {
    margin-bottom: 56px !important;
  }

  .oke-w-review-side, .oke-media-image {
    border-radius: var(--image-border-radius);
  }





  // .product-content-doing-our-bit --- START
  .product-content-doing-our-bit {
    display: flex;
    flex-direction: column;
    background: var(--color-secondary);
    padding: 24px 16px 16px;
    border-radius: var(--image-border-radius);

    @include media-query($medium-up) {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 30px;
      padding: 48px;
    }

    img {
      width: 100%;
    }

    .product-content-doing-our-bit--content-inner {
      padding-top: 42px;
    }

    .product-content-doing-our-bit--image {
      img {
        border-radius: var(--image-border-radius);
      }
    }
  }
  // .product-content-doing-our-bit --- END


  .product-USP {
    position: relative;
    min-height: 250px;
    margin-bottom: 20px;

    @include media-query($medium-up) {
      margin-top: 40px;
      min-height: 350px;
    }

    h3 {
      width: 100%;
      font-weight: normal;
      text-align: center;
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 72px;
      line-height: 125%;

      &.product-USP--title__small {
        font-size: 62px;

        @include media-query($medium-up) {
          font-size: 62px;
        }
      }
    }

    picture, img {
      width: 100%;
      height: 100%;
    }
  }



  .product-USP--title__smallx{
    font-size:50px !important;
  }


  .recharge-subscription-widget {
    .rc-tooltip {
      max-width: unset;
      border: 1px solid var(--color-primary);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      font-weight: 400;

      .arrow {
        left: unset;
        right: 30px;

        &::before {
          box-shadow: 1px 1px 0px var(--color-primary)
        }
      }
    }

    .rc-tooltip__content {
      font-size: 18px;
      line-height: 28px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      font-weight: 400;

      .learn-more {
        display: none;
      }
    }

    .rc-subscription-details {
      margin-top: 8px;
      font-size: 12px;
      line-height: 1;
      justify-content: flex-end;
      padding: 0;
      text-decoration: underline;
      font-weight: 500;

      .rc-subscription-details__button svg {
        display: none;
      }
    }

    .rc-selling-plans-dropdown__select {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 28px;
    }

    .rc-template__radio {
      padding: 8px;
      background: white;
      border: 1px solid var(--color-primary);
      -webkit-border-radius: var(--image-border-radius);
      -moz-border-radius: var(--image-border-radius);
      -o-border-radius: var(--image-border-radius);
      border-radius: var(--image-border-radius);
    }
      
    .rc-radio {
      padding: 0;
      font-size: 18px;
      line-height: 28px;

      .rc-radio__input {
        cursor: pointer;
        height: 0;
        position: relative;

        &::before {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          border: 1px solid var(--color-grey-dark);
          content: ' ';
          position: absolute;
          text-align: center;
          font-weight: bold;
          color: white;
          background: #fff;
          padding-top: 2px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.rc-radio--active {
        background: none;

        .rc-radio__input::before {
          font-family: 'Proxima Nova';
          border: none;
          content: '✓';
          background:var(--color-primary);
        }

        .rc-selling-plans {
          background-color: transparent;
        }
      }
    }
  }

  .bought-with {
    .section-header {
      margin: 0;
      text-align: left;
    }

    .product-list__inner--scroller {
      @include media-query($small) {
        grid-auto-columns: 80vw;
      }
    }

    .product-item--horizontal {
      flex-direction: row;
      position: relative;
      border: 1px solid var(--color-grey-light);
      border-radius: var(--image-border-radius);

      .variant-option {
        display: none;
      }
    
      .product-item__image-wrapper {
        width: 30%;
        padding-bottom: 42px;
        padding-left: 8px;
        padding-top: 8px;
      }
    
      .product-item__info {
        width: 70%;
        padding: 10px;
        max-width: 55%;
      }

      .product-item-meta {
        text-align: left;
      }

      .product-item-meta__price-list-container {
        position: absolute;
        right: 15px;
        top: 0;
      }

      .product-item__cta-wrapper {
        width: 100%;
        padding: 12px;
        border-top: 1px solid var(--color-grey-light);
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%,0);
      }
    }
  }




  .whats-included {
    .whats-included__container {
      ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      }

      max-height: 55vh;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 20px;

      @include media-query($medium-up) {
        grid-template-columns: repeat(2,2fr);
        max-height: 68vh;
      }
    }

    .whats-included--item {
      padding: 0 0 12px;
      border-bottom: 1px solid #fff;
      display: flex;
      flex-direction: row;
      margin: 0 0 12px 0;


      .whats-included--item-image {
        margin-right: 12px;
        min-width: 80px;
        max-width: 80px;

        img {
          max-width: 80px;
          min-width: 80px;
          border-radius: 8px;

        }
      }

      .whats-included--item-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: flex-start;

        p {
          font-size: 18px;
          margin: 0;
          line-height: 1.2;
        }

        p.text--small {
          font-size: 16px;
          margin: 0;
          line-height: 1.2;
        }

        a {
          margin-left: 0;
          margin-bottom: 0;
          margin-top: 0;
          text-align: left;
          display: flex;

          @include media-query($medium-up) {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .block-swatch-list--custom {
    justify-content: center;

    .block-swatch {
      flex: 1;

      .block-swatch__item {
        border-radius: var(--image-border-radius);
        padding: 12px 0;

        &.is-selected {
          font-weight: bold !important;
        }
      }
    }

    .block-swatch__item.is-selected {
      background: rgb(var(--secondary-background));
      border: 2px solid rgb(var(--text-color));
    }
  }


  .shopify-section--image-with-text-product {

    img, picture, .image-overlay__image-wrapper, image-with-text-overlay {
      border-radius: var(--image-border-radius);
    }

    img {
      width: 100%;
    }

    .image-overlay {
      @include media-query($medium-up) {
        &.text-position-desktop--top {
          align-items: flex-start;
        }

        &.text-position-desktop--middle {
          align-items: center;
        }

        &.text-position-desktop--bottom {
          align-items: flex-end;
        }

        &.color-desktop--white {
          .link--primary {
            @include media-query($medium-up) {
              text-decoration-color: var(--color-primary) !important;

              svg {
                * {
                  fill: #fff;
                }
              }
            }
          }
        }
    
        &.color-desktop--black {
          .link--primary {
            @include media-query($medium-up) {
              text-decoration-color: #fff !important;
            }
          }
        }
      }


      @include media-query($medium-up) {
        &.color-mobile--white {
    
        }
    
        // &.color-mobile--black {
    
        // }
      }
    }

    .image-overlay__content {
      margin: 0;
      max-width: 516px;

      @include media-query($medium-up) {
        margin: 0 48px;
      }

      &.desktop--top {

      }

      &.desktop--middle {

      }

      &.desktop--end {

      }
    }

    .image-overlay__content-wrapper {
      justify-content: flex-start;
    }

    .image-overlay__text-container {
      line-height: 1.65;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;


      .link--primary {
        margin-top: 24px;
      }
    }

    .text-position-mobile--above {
      @include media-query($small) {
      background: unset;
      display: flex;
      flex-direction: column-reverse;

        &:before {
          width: 100%;
          height: 100%;
          top: 0;
          position: absolute;
        }

        .image-overlay__image-wrapper {
          position: relative;
        }

        .image-overlay__content {
          margin: 0;
        }
      }
    }

    .text-position-mobile--below {
      @include media-query($small) {
      background: unset;
      display: flex;
      flex-direction: column;
      }
    }
  }

  .product-sticky-form {
    z-index: 10;
    // box-shadow: 0 -4px 10px #cdcdcd40;
    // background-color: #fde4db80;
    // background: linear-gradient(180deg, rgba(242,242,242,0) 0%, rgba(253,228,219,0.8) 100%);
    // padding-top: 8px;
  }

  .rc-widget {

    .rc-template__radio {
      background: #fffcfb;
    }

    .rc-radio__label {
      line-height: 1;
    }

    .rc-subscription-details {
      margin-top: 0;
    }
  }

  .product__media {
    .product__media-item {
      @include media-query($small) {
        padding: 0;

        img, .product__media-image-wrapper {
          border-radius: 0 !important;
        }
      }
    }
  }


 

.BeforeAfter {
  @include media-query($medium-up) {
    background: #f7f7f7;
    padding: 24px 0;
  }

  .rte {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 10px;
  }
}

  .BeforeAfter__Container {
    position: relative;
    overflow: hidden;
    margin: 0 -16px;
    
    @include media-query($medium-up) {
      margin: 0;
      align-items: center;
      display: flex;
    }
  }
  
  .BeforeAfter__TextContainer {
    flex: 1 1 50%;
    padding: 24px 16px 32px;
    
    @include media-query($medium-up) {
      padding: 0 40px;
    }
  }
  
  .BeforeAfter__Title {
    font-size: 36px;
    font-family: var(--heading-font-family);
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 4px;
    
    @include media-query($medium-up) {
      font-size: 56px;
      line-height: 64px;
      margin-bottom: 12px;
    }
  }
  
  .BeforeAfter__Description {
    font-size: 18px;
    line-height: 28px;
  
    @include media-query($medium-up) {
      font-size: 24px;
      line-height: 32px;
    }

    .link {
      font-size: 17px;
    }
  
    p {
      margin-bottom: 12px;
    }
  
    .Button--link {
      margin-top: 12px;
    }
  }
  
  .BeforeAfter__TabButtonsContainer {
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -o-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    background: var(--color-primary);
    padding: 22px 0 12px;
    
    @include media-query($medium-up) {
      padding: 28px 0;
      margin-left: 32px;
      max-width: calc(50% - 64px);
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }
  }
  
  .BeforeAfter__TabButton {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    color: #484848;
    font-size: 14px;

    @include media-query($medium-up) {
      padding-top: 10px;
      font-size: 16px;
    }
  
    &::before {
      content: ' ';
      transition: width 0.2s ease-in-out;
      height: 2px;
      width: 0;
      position: absolute;
      top: 0;
      display: block;
      background: #181818;
    }
  
    &:hover {
      color: #181818;
    }
  
    &.active {
      color: #181818;
  
      &::before {
        width: 100%;
      }
    }
  
    @include media-query($medium-up) {
      font-size: 24px;
    }
  }
  
  .BeforeAfter__SliderWrapper {
    flex: 1 1 50%;
    margin: 0 -16px;
    border-radius: var(--image-border-radius);
  
    @include media-query($medium-up) {
      margin: 0 auto;
    }
  }
  
  .BeforeAfter__SliderContainer {
    position: relative;
    margin: 0 auto;
    padding-bottom: calc(100% / var(--aspect-ratio));
  }
  
  .BeforeAfter__Image {
    width: 100%;
    height: 100% !important;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    border: 1px solid var(--color-black);
  
    &.BeforeAfter__Image--before {
      width: 50%;
    }
  }
  
  .BeforeAfter__Slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100% !important;
    background: transparent;
    outline: none;
    margin: 0;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 9px;
      background: rgba(#FDE4DB, .6);
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 9px;
      background: rgba(#FDE4DB, .6);
      cursor: pointer;
    }
  }
  
  .BeforeAfter__SliderButton {
    $size: 30px;
    pointer-events: none;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: white;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    @mixin arrow-helper() {
      content: '';
      padding: 3px;
      display: inline-block;
      border: solid #5D5D5D;
      border-width: 0 2px 2px 0;
    }
  
    &:after {
      @include arrow-helper();
      transform: rotate(-45deg);
    }
  
    &:before {
      @include arrow-helper();
      transform: rotate(135deg);
    }
  }
  
  .oke-button {
    border-radius: var(--image-border-radius) !important;
    color: var(--color-button-primary-text) !important;
    background: var(--color-button-primary-background) !important;
    box-shadow: 4px 4px 0 0 var(--color-button-primary-shadow) !important;
    font-family: var(----text-font-family) !important;
    text-transform: uppercase;
  } 
